@model IEnumerable<Prueba.ESTUDIANTE>

@{
    ViewBag.Title = "Index";
}


<link href="~/www/estilos/CRUDStyle.css" rel="stylesheet" />


<h2>Gestión de Estudiantes</h2>

<p>
    @Html.ActionLink("Crear", "Create","ESTUDIANTEs", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_USUARIO.TU_DESCRIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REPRESENTANTE.REP_USU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EST_USU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EST_NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EST_APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EST_CEDULA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EST_FECHANAC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EST_PASSWORD)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TIPO_USUARIO.TU_DESCRIP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.REPRESENTANTE.REP_USU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EST_USU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EST_NOMBRE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EST_APELLIDO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EST_CEDULA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EST_FECHANAC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EST_PASSWORD)
    </td>

    <td align="right">
        @Html.ActionLink("Editar", "Edit", new { id = item.ID_ESTUDIANTE }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Detalle", "Details", new { id = item.ID_ESTUDIANTE }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Borrar", "Delete", new { id = item.ID_ESTUDIANTE }, new { @class = "btn btn-danger" })
    </td>
</tr>
}

</table>
