@model IEnumerable<Prueba.Modelos.Asistencia>

@{
    ViewBag.Title = "AsistenciasProf";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AsistenciasProf</title>

</head>
<body>
    <br />
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col">
            <form action="@Url.Action("DesplegarGrados","PROFESORs")" method="post" id="matForm">
                <label class="">Materia:</label>
                @Html.DropDownList("ID_MATERIA", null, htmlAttributes: new { @class = "form-control" })
            </form>
        </div>

        <div class="col">
            <form action="@Url.Action("ObtenerDatos","PROFESORs")" method="post" id="datForm">
                <label class="">Grado:</label>
                @Html.DropDownList("CB_GRADO", null, htmlAttributes: new { @class = "form-control" })
            </form>
        </div>

        <div class="col">
            <form action="@Url.Action("CargarHorario1","PROFESORs")" method="post" id="horform">
                <label class="">Horario:</label>
                @Html.DropDownList("Horario", null, htmlAttributes: new { @class = "form-control" })
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        <form action="@Url.Action("ConsultarAsistencia","PROFESORs")" method="post" id="horform">
            <label class="">Fecha:</label>
            @Html.TextBox("fecha", "2022-10-24", htmlAttributes: new { @class = "form-control", @type = "date" })

            <br />
            <button type="submit" class="btn btn-warning btn-sm">Consultar</button>
        </form>
    </div>


    <div class="container text-center">
        <br />
        <button class="btn btn-success  btn-sm" onclick="seleccionarTodo()">Marcar Todos</button>
        <button class="btn btn-warning  btn-sm" onclick="desmarcarTodo()">Desmarcar Todos</button>
    </div>

    <br />
    <div class="container">
        <form name="f1" action="@Url.Action("CrearAsistencia","PROFESORs")" method="post">

            <br />
            <br />
            <table class="table table-responsive" align="center" style="width:65%">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID_ESTUDIANTE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EST_NOMBRE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EST_APELLIDO)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.ASIS_CONF)
                    </th>
                </tr>

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID_ESTUDIANTE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EST_NOMBRE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EST_APELLIDO)
                            </td>
                            <td class="text-center">
                                @Html.CheckBox("asis", item.ASIS_CONF)
                            </td>
                        </tr>
                    }
                }
            </table>
            <br />
            <h5>@ViewData["Res"]</h5>
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
        </form>
    </div>
    <script src="~/Scripts/ManejoCheckBox.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(
            function () {
                check();
            });
    </script>
    @section scripts
    {
        <script>
            $('#ID_MATERIA').change(
                function () {
                    $("#matForm").submit();

                });
            $("#CB_GRADO").change(
                function () {
                    $("#datForm").submit();
                }
            );
            $("#Horario").change(
                function () {
                    $("#horform").submit();
                }
            );
        </script>
    }
</body>
</html>



