@model Prueba.NOTA
@{
    ViewBag.Title = "Editar Nota";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Editar Nota</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h1 class="p-2 bg-info text-blue">@ViewData["est"]</h1>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_NOTA)

        <div class="form-group">
            @Html.LabelFor(model => model.ID_ESTUDIANTE, htmlAttributes: new { @class = " text-primary control-label col-md-2", hidden = "hidden" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_ESTUDIANTE, new { htmlAttributes = new { @class = "form-control", hidden = "hidden" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NP1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NP1, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NP2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NP2, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EQ1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EQ1, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NP3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NP3, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NP4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NP4, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EQ2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EQ2, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Volver", "NotasProf", "MATERIAs", new { @class = "btn btn-primary" })
                <input type="submit" value="Guardar" class="btn btn-success" />

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

