@model IEnumerable<Prueba.NotasModel>
@{
    ViewBag.Title = "NotasProf";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/www/estilos/estnota.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestión de Notas</title>

</head>
<body>
    <br />
    <br />
    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col">
                <label class="">Materia:</label>
                <form action="@Url.Action("DesplegarGrados1","PROFESORs")" method="post" id="matForm">
                    @Html.DropDownList("ID_MATERIA", null, htmlAttributes: new { @class = "form-control" })
                </form>
            </div>
            <div class="col">
                <label class="">Grado:</label>
                <form action="@Url.Action("ObtenerDatos1","PROFESORs")" method="post" id="datForm">
                    @Html.DropDownList("CB_GRADO", null, htmlAttributes: new { @class = "form-control" })
                </form>
            </div>
        </div>
        <br />
        <div class="row">

            <form action="@Url.Action("CargarDatos","PROFESORs")" method="post" id="datForm">
                <button type="submit" class="btn btn-success btn-sm">Consultar</button>
            </form>
        </div>

    </div>
    <br />
    <div class="container">
        <form name="f1" action="@Url.Action("CrearNota","PROFESORs")" method="post">

            <table class="table table-responsive" align="center" style="width:100%">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID_ESTUDIANTE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EST_NOMBRE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EST_APELLIDO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NP1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NP2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EQ1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Q1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NP3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NP4)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EQ2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Q2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FINAL)
                    </th>
                    <th>Acciones</th>
                </tr>

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID_ESTUDIANTE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EST_NOMBRE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EST_APELLIDO)
                            </td>
                            <td>
                                @Html.TextBox("NP1", item.NP1, htmlAttributes: new { style = "width: 40px", type = "number", min = "1", max = "10" })
                            </td>
                            <td>
                                @Html.TextBox("NP2", item.NP2, htmlAttributes: new { style = "width: 40px", type = "number", min = "1", max = "10" })
                            </td>
                            <td>
                                @Html.TextBox("EQ1", item.EQ1, htmlAttributes: new { style = "width: 40px", type = "number", min = "1", max = "10" })
                            </td>
                            <td>
                                @Html.TextBox("Q1", item.Q1, htmlAttributes: new { style = "width: 40px", disabled = "disabled", value="0" })
                            </td>
                            <td>
                                @Html.TextBox("NP3", item.NP3, htmlAttributes: new { style = "width: 40px", type = "number", min = "1", max = "10" })
                            </td>
                            <td>
                                @Html.TextBox("NP4", item.NP4, htmlAttributes: new { style = "width: 40px", type = "number", min = "1", max = "10" })
                            </td>
                            <td>
                                @Html.TextBox("EQ2", item.EQ2, htmlAttributes: new { style = "width: 40px", type = "number", min = "1", max = "10" })
                            </td>
                            <td>
                                @Html.TextBox("Q2", item.Q2, htmlAttributes: new { style = "width: 40px", disabled = "disabled", value = "0" })
                            </td>
                            <td>
                                @Html.TextBox("FINAL", item.FINAL, htmlAttributes: new { style = "width: 40px", disabled = "disabled", value = "0" })
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "", new { id = item.ID_NOTA }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    }
                }
            </table>
            <button type="submit" class="btn btn-warning btn-sm">Guardar</button>
        </form>
    </div>
    <script src="~/Scripts/ManejoCheckBox.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(
            function () {
                check();
            });
    </script>
    @section scripts
    {
        <script>
            $('#ID_MATERIA').change(
                function () {
                    $("#matForm").submit();

                });
            $("#CB_GRADO").change(
                function () {
                    $("#datForm").submit();
                }
            );
        </script>
    }
</body>
</html>


