@model IEnumerable<Prueba.NotasModel>
@{
    ViewBag.Title = "Notas Profesor";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/www/estilos/estnota.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestión de Notas</title>

</head>
<body>
    <br />
    <br />

    <div class="container">
        <h1 class="text-center font-weight-bold ">Gestión de Notas</h1>
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div class="col">
                <label class="">Materia:</label>
                <form action="@Url.Action("DesplegarGrados1","PROFESORs")" method="post" id="matForm">
                    @Html.DropDownList("ID_MATERIA", null, htmlAttributes: new { @class = "form-control" })
                </form>
            </div>
            <div class="col">
                <label class="">Grado:</label>
                <form action="@Url.Action("ObtenerDatos1","PROFESORs")" method="post" id="datForm">
                    @Html.DropDownList("CB_GRADO", null, htmlAttributes: new { @class = "form-control" })
                </form>
            </div>
        </div>
        <br />
        <div class="row">

            <form action="@Url.Action("CargarDatos","PROFESORs")" method="post" id="datForm">
                <button type="submit" class="btn btn-success btn-sm">Consultar</button>
            </form>
        </div>

    </div>
    <br />
    <div class="container">
        <form name="f1" action="@Url.Action("CrearNota","PROFESORs")" method="post">

            <table class="table table-bordered table-responsive " align="center" style="width:100%">
                <tr class="table-info">
                    <th>
                        @Html.DisplayNameFor(model => model.ID_ESTUDIANTE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EST_NOMBRE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EST_APELLIDO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.np1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.np2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.eq1)
                    </th>
                    <th>
                        <p class="text-danger"> @Html.DisplayNameFor(model => model.q1)</p>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.np3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.np4)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.eq2)
                    </th>
                    <th>
                        <p class="text-danger"> @Html.DisplayNameFor(model => model.q2)</p>
                    </th>
                    <th>
                        <p class="text-primary"> @Html.DisplayNameFor(model => model.final)</p>
                    </th>
                    <th></th>
                </tr>

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID_ESTUDIANTE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EST_NOMBRE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EST_APELLIDO)
                            </td>
                            <td>
                                @if (@ViewData["en"] == "true")
                                {
                                    @Html.TextBox("NP1", item.np1, htmlAttributes: new { style = "width: 40px", type = "number", min = "1", max = "10" })
                                }
                                else
                                {
                                    @Html.TextBox("NP1", item.np1, htmlAttributes: new { style = "width: 40px", type = "text", disabled = "disabled" })
                                }
                            </td>
                            <td>
                                @if (@ViewData["en"] == "true")
                                {
                                    @Html.TextBox("NP2", item.np2, htmlAttributes: new { style = "width: 40px", type = "number", min = "1", max = "10" })
                                }
                                else
                                {
                                    @Html.TextBox("NP2", item.np2, htmlAttributes: new { style = "width: 40px", type = "text", disabled = "disabled" })
                                }
                            </td>
                            <td>
                                @if (@ViewData["en"] == "true")
                                {
                                    @Html.TextBox("EQ1", item.eq1, htmlAttributes: new { style = "width: 40px", type = "number", min = "1", max = "10" })
                                }
                                else
                                {
                                    @Html.TextBox("EQ1", item.eq1, htmlAttributes: new { style = "width: 40px", type = "text", disabled = "disabled" })
                                }
                            </td>
                            <td>
                                @if (@ViewData["en"] == "true")
                                {
                                    @Html.TextBox("Q1", item.q1, htmlAttributes: new { style = "width: 40px", type = "number", disabled = "disabled", value = "0" })
                                }
                                else
                                {
                                    @Html.TextBox("Q1", item.q1, htmlAttributes: new { style = "width: 40px", type = "text", disabled = "disabled" })
                                }
                            </td>
                            <td>
                                @if (@ViewData["en"] == "true")
                                {
                                    @Html.TextBox("NP3", item.np3, htmlAttributes: new { style = "width: 40px", type = "number", min = "1", max = "10" })
                                }
                                else
                                {
                                    @Html.TextBox("NP3", item.np3, htmlAttributes: new { style = "width: 40px", type = "text", disabled = "disabled" })
                                }
                            </td>
                            <td>
                                @if (@ViewData["en"] == "true")
                                {
                                    @Html.TextBox("NP4", item.np4, htmlAttributes: new { style = "width: 40px", type = "number", min = "1", max = "10" })
                                }
                                else
                                {
                                    @Html.TextBox("NP4", item.np4, htmlAttributes: new { style = "width: 40px", type = "text", disabled = "disabled" })
                                }
                            </td>
                            <td>
                                @if (@ViewData["en"] == "true")
                                {
                                    @Html.TextBox("EQ2", item.eq2, htmlAttributes: new { style = "width: 40px", type = "number", min = "1", max = "10" })
                                }
                                else
                                {
                                    @Html.TextBox("EQ2", item.eq2, htmlAttributes: new { style = "width: 40px", type = "text", disabled = "disabled" })
                                }
                            </td>
                            <td>
                                @if (@ViewData["en"] == "true")
                                {
                                    @Html.TextBox("Q2", item.q2, htmlAttributes: new { style = "width: 40px", type = "number", disabled = "disabled", value = "0" })
                                }
                                else
                                {
                                    @Html.TextBox("Q2", item.q2, htmlAttributes: new { style = "width: 40px", type = "text", disabled = "disabled" })
                                }
                            </td>
                            <td>
                                @if (@ViewData["en"] == "true")
                                {
                                    @Html.TextBox("FINAL", item.final, htmlAttributes: new { style = "width: 40px", disabled = "disabled", value = "0" })
                                }
                                else
                                {
                                    @Html.TextBox("FINAL", item.final, htmlAttributes: new { style = "width: 40px", type = "text", disabled = "disabled" })
                                }
                            </td>
                            <td>
                                @if (@ViewData["en"] == "false")
                                {
                                    @Html.ActionLink("Editar", "EditNota", new { id = item.ID_NOTA }, new { @class = "btn btn-primary" })
                                }

                            </td>
                        </tr>
                    }
                }
            </table>
            @if (@ViewData["en"] == "true")
            {
                <button type="submit" class="btn btn-warning btn-sm">Guardar</button>
            }

        </form>
        <div class="container">
            <h5>@ViewData["Res"]</h5>
        </div>
    </div>
    <script src="~/Scripts/ManejoCheckBox.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(
            function () {
                check();
            });
    </script>
    @section scripts
    {
        <script>
            $('#ID_MATERIA').change(
                function () {
                    $("#matForm").submit();

                });
            $("#CB_GRADO").change(
                function () {
                    $("#datForm").submit();
                }
            );
        </script>
    }
</body>
</html>

