@model IEnumerable<Prueba.ESTUDIANTE>
@{
    ViewBag.Title = "NotasProf";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestión de Notas</title>

</head>
<body>
    <br />
    <br />
    <br />
    <br />

    <label class="">Materia:</label>
    <form action="@Url.Action("DesplegarGrados1","PROFESORs")" method="post" id="matForm">
        @Html.DropDownList("ID_MATERIA", null, htmlAttributes: new { @class = "form-control" })
    </form>

    <form action="@Url.Action("ObtenerDatos1","PROFESORs")" method="post" id="datForm">
        @Html.DropDownList("CB_GRADO", null, htmlAttributes: new { @class = "form-control" })
    </form>

    <form action="@Url.Action("CargarDatos","PROFESORs")" method="post" id="datForm">
        <button type="submit" class="btn btn-success btn-sm">Consultar</button>
    </form>

    <div class="container">
        <form name="f1" action="@Url.Action("","PROFESORs")" method="post">
            <table class="table table-responsive" align="center" style="width:65%">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID_ESTUDIANTE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EST_NOMBRE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EST_APELLIDO)
                    </th>
                    <th>
                        Parcial1
                    </th>
                    <th>
                        Parcial2
                    </th>
                    <th>
                        Parcial3
                    </th>
                    <th>
                        ExQ1
                    </th>
                    <th>
                        Parcial4
                    </th>
                    <th>
                        Parcial5
                    </th>
                    <th>
                        Parcial6
                    </th>
                    <th>
                        ExQ2
                    </th>
                </tr>

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID_ESTUDIANTE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EST_NOMBRE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EST_APELLIDO)
                            </td>
                            <td align="right">
                                @Html.TextBox("np1", 0, new { @class = "form-control" })
                            </td>
                            <td align="right">
                                @Html.TextBox("np2", 0, new { @class = "form-control" })
                            </td>
                            <td align="right">
                                @Html.TextBox("np3", 0, new { @class = "form-control" })
                            </td>
                            <td align="right">
                                @Html.TextBox("EQ1", 0, new { @class = "form-control" })
                            </td>
                            <td align="right">
                                @Html.TextBox("np4", 0, new { @class = "form-control" })
                            </td>
                            <td align="right">
                                @Html.TextBox("np5", 0, new { @class = "form-control" })
                            </td>
                            <td align="right">
                                @Html.TextBox("np6", 0, new { @class = "form-control" })
                            </td>
                            <td align="right">
                                @Html.TextBox("EQ2", 0, new { @class = "form-control" })
                            </td>
                        </tr>
                    }
                }
            </table>
            <br />
            <h5>@ViewData["Res"]</h5>
        </form>
    </div>
    <script src="~/Scripts/ManejoCheckBox.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(
            function () {
                check();
            });
    </script>
    @section scripts
    {
        <script>
            $('#ID_MATERIA').change(
                function () {
                    $("#matForm").submit();

                });
            $("#CB_GRADO").change(
                function () {
                    $("#datForm").submit();
                }
            );
        </script>
    }
</body>
</html>

