@model IEnumerable<Prueba.HORARIO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HOR_DIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOR_HORA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATERIA.MAT_COD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HOR_DIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOR_HORA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATERIA.MAT_COD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_HORARIO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_HORARIO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_HORARIO })
        </td>
    </tr>
}

</table>
