@model Prueba.TIPO_USUARIO

@{
    ViewBag.Title = "Edit";
}

<link href="~/www/estilos/CRUDStyle.css" rel="stylesheet" />

<h2>Editar Tipo de Usuario</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TIPO DE USUARIO</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_TIPOU)

        <div class="form-group">
            @Html.LabelFor(model => model.TU_DESCRIP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TU_DESCRIP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TU_DESCRIP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink("Back to List", "Index", "Home", new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
