@model IEnumerable<Prueba.TIPO_USUARIO>

@{
    ViewBag.Title = "Index";
}

<link href="~/www/estilos/CRUDStyle.css" rel="stylesheet" />

<h2>TIpos de usuario</h2>

<p>
    @Html.ActionLink("Create New", "Create", "TIPO_USUARIO", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TU_DESCRIP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TU_DESCRIP)
        </td>
        <td align="right">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_TIPOU }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_TIPOU }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_TIPOU }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
