@model IEnumerable<Prueba.ANO_LECTIVO>

@{
    ViewBag.Title = "Index";
}

<link href="~/www/estilos/CRUDStyle.css" rel="stylesheet" />


<h2>Vista de año lectivo</h2>

<p>
    @Html.ActionLink("Create New", "Create", "ANO_LECTIVO", new {@class="btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ANO_DESCRIP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ANO_DESCRIP)
        </td>
        <td align="right">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_ANO }, new {@class="btn btn-primary"}) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_ANO }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_ANO }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
