@model Prueba.MATERIA

@{
    ViewBag.Title = "Delete";
}


<link href="~/www/estilos/CRUDStyle.css" rel="stylesheet" />

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MATERIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MAT_COD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAT_COD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAT_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAT_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAT_GRADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAT_GRADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAT_PARALELO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAT_PARALELO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROFESOR.PROF_USU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROFESOR.PROF_USU)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
