@model GatsuGradesV6.Models.Profesor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Profesor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfUsu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfUsu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfCedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfCedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfTelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfTelf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipouNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipouNavigation.IdTipou)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProfesor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
